# Ignore environment variables
.env

# Ignore Python virtual environment
venv/
ENV/
env/
.venv/
.pyvenv/

# Byte-compiled / optimized / DLL files
__pycache__/
defaults/__pycache__/
*.py[cod]
*$py.class

# VSCode or JetBrains IDEs
.vscode/
.idea/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db
